<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #eeeeee; z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand" id="maintextNavbar" href="/">RUMBO SUR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"  >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Inicio</a>
                <a class="nav-link" href="/campgrounds">Destinos</a>
                <a class="nav-link" href="/campgrounds/new">Nuevo Destino</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Registrarse</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>